D:\TERRAFORM\FridayHTT-Lab1\FridayHTTInfra\.terraform
D:\TERRAFORM\FridayHTT-Lab1\FridayHTTInfra\.terraform\modules
D:\TERRAFORM\FridayHTT-Lab1\FridayHTTInfra\.terraform\providers
D:\TERRAFORM\FridayHTT-Lab1\FridayHTTInfra\.terraform\providers\registry.terraform.io
D:\TERRAFORM\FridayHTT-Lab1\FridayHTTInfra\.terraform\providers\registry.terraform.io\hashicorp
D:\TERRAFORM\FridayHTT-Lab1\FridayHTTInfra\.terraform\providers\registry.terraform.io\hashicorp\aws
D:\TERRAFORM\FridayHTT-Lab1\FridayHTTInfra\.terraform\providers\registry.terraform.io\hashicorp\aws\5.77.0
D:\TERRAFORM\FridayHTT-Lab1\FridayHTTInfra\.terraform\providers\registry.terraform.io\hashicorp\aws\5.77.0\windows_amd64
D:\TERRAFORM\FridayHTT-Lab1\FridayHTTInfra\.terraform\providers\registry.terraform.io\hashicorp\aws\5.77.0\windows_amd64\LICENSE.txt
D:\TERRAFORM\FridayHTT-Lab1\FridayHTTInfra\.terraform\providers\registry.terraform.io\hashicorp\aws\5.77.0\windows_amd64\terraform-provider-aws_v5.77.0_x5.exe
D:\TERRAFORM\FridayHTT-Lab1\FridayHTTInfra\vpc
D:\TERRAFORM\FridayHTT-Lab1\FridayHTTInfra\.gitignore
D:\TERRAFORM\FridayHTT-Lab1\FridayHTTInfra\.terraform.lock.hcl
D:\TERRAFORM\FridayHTT-Lab1\FridayHTTInfra\main.tf
D:\TERRAFORM\FridayHTT-Lab1\FridayHTTInfra\outputs.tf
D:\TERRAFORM\FridayHTT-Lab1\FridayHTTInfra\providers.tf
D:\TERRAFORM\FridayHTT-Lab1\FridayHTTInfra\README.md
D:\TERRAFORM\FridayHTT-Lab1\FridayHTTInfra\terraform.tfstate
D:\TERRAFORM\FridayHTT-Lab1\FridayHTTInfra\variable.tf